@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}
/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}
/* END: Home styles */

/* START: Car Card styles */
.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}
/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}
/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
/* END: Custom Filter styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}
/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}


/* Registration Form Styles */

/* Form container */
.registration-form {
  @apply max-w-[500px] mx-auto p-8 pb-2 my-32 bg-white rounded-lg shadow-md;
}

/* Form fields */
.registration-form input,
.registration-form select,
.registration-form textarea {
  @apply w-full px-20 text-center py-2 my-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300;
}

/* Form labels */
.registration-form label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

.profile-image {
  width: 800px; /* Adjust as needed */
  height: 800px;
  float: left;
  margin-right: 20px; /* Creates space between image and text */
}

.hobbies-section {
  float: right;
  max-width: calc(70% - 220px); /* Adjusts based on image width plus margin */
  font-family: sans-serif;
  font-size: large;
  font-weight: 500;
  font-style: italic;
  text-align: right;
}

/* Clearfix to contain floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.form-textbox {
  font-size: 1em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: block;
  font-family: inherit;
  background-color: #FFFFFF;
  border-color: #b8bdc9;
  color: #2C3345;
  height: 2.5em;
  padding: 0 .625em;
  outline: 0;
  margin: 0;
  text-align: left;
}

.form-textbox:hover {
  box-shadow: inset 0 0 0 2px blue;
}

.form-textarea {
  background-color: #FFFFFF;
  border-color: #b8bdc9;
  color: #2C3345;
  font-size: 1em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: block;
  font-family: inherit;
  padding: .625rem;
  min-height: 2.5em;
  outline: 0;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
}

.form-textarea:hover {
  box-shadow: inset 0 0 0 2px blue;
}

.form-dropdown {
  width: 310px;
  color: #57647E;
  height: 2.5em;
  background-color: #FFFFFF;
  border-color: #b8bdc9;
  font-size: 1em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: block;
  font-family: inherit;
  padding: 0 1.875em 0 .625em;
}

.form-dropdown:hover {
  box-shadow: inset 0 0 0 2px blue;
}

.form-all {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 72px auto;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(87,100,126,.21);
  font-family: Inter, sans-serif;
  max-width: 752px;
  width: 100%;
  font-size: 16px;
  color: #2C3345;
  background-image: none;
  position: relative;
  background-color: #FFFFFF;
  margin-top: 0px !important;
  margin-bottom: 310px;
}

.form-section, .page-section {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0 38px;
  list-style: none;
}

.form-input-wide {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
}

.form-header-group, .header-large {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  list-style: none;
  box-sizing: border-box;
  border-bottom: 1px solid;
  border-color: #F3F3FE;
  margin: 0 -38px;
  padding: 2.5em 52px;
}

.header-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  list-style: none;
  box-sizing: border-box;
  flex-grow: 1;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.form-header {
  font-family: Inter, sans-serif;
  list-style: none;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  font-weight: 600;
  line-height: 1.45;
  word-break: break-word;
  color: #2C3345;
  font-size: 2em !important;
}

.form-sub-label {
  min-height: 13px;
  color: #57647E;
  font-size: .99em;
  margin-top: 10px;
  margin-left: 2px;
  display: block;
  word-break: break-all;
}

.form-buttons-wrapper {
  border-color: #F3F3FE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0 -38px 10px;
  padding: 30px 52px;
  border-top: 1px solid;
  row-gap: .625rem;
  border-color: #57647E;
}

.submit-button {
  background-color: #18BD5B;
  border-color: #18BD5B;
  color: #fff;
  width: auto;
  min-width: 180px;
  height: 3em;
}

.form-subHeader {
  font-family: Inter, sans-serif;
  list-style: none;
  text-align: left;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.6;
  word-break: break-word;
  font-size: 1em;
  color: #57647E;
}

.form-line {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  list-style: none;
  box-sizing: border-box;
  padding: 12px 10px;
  margin: 12px 4px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  transition: background-color .15s;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 28px;
}

.form-label-top {
  color: #2C3345;
  margin-left: 2px;
  margin-bottom: 14px;
}

.form-label, .form-label-auto {
  font-family: Inter, sans-serif;
  font-size: 16px;
  list-style: none;
  box-sizing: border-box;
  font-weight: 500;
  word-break: break-word;
  color: #2C3345;
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  cursor: default;
  
}

.form-single-column {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
}

.form-radio-item {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-bottom: 10px;
  clear: left;
}

.dragger-item {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2C3345;
  list-style: none;
  box-sizing: border-box;
}

.form-radio {
  list-style: none;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  text-align: left;
  position: absolute;
  opacity: 1;
  height: 5px;
  width: 5px;
  overflow: visible;
  clip: rect(1px,1px,1px,1px);
}

.simple_spc {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  text-align: left;
}

.feedback-form {
  font-family: Inter,sans-serif;
  font-size: 16px;
  color: #2c3345;
  box-sizing: border-box;
  padding-top: 7em;
}

.welcome {
  position: relative;
  border-radius: 12px;
  margin-top: 8em;
  /*color: #5a6268;*/
  color: #b5d8f1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 1em;
  background-color: rgb(84 91 98 / 10%);
  max-width: 1140px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 16px black;
  z-index: 1;
  height: fit-content;
}

.section-height {
  height: 35vh;
}

.welcome:hover {
  box-shadow: 0 1px 5px black;
  backdrop-filter: blur(35px);
}

.mySticky {
  position: sticky;
  left: 0;
}

.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}

.bg-gray {
  background-color: #e9ecef;
}

.count, .user {
  border-radius: 4px;
  padding: 0.1em 0;
}

.home-fields {
  border-radius: 6px;
  background-color: rgba(39 41 42 / 40%);
  backdrop-filter: blur(15px);
  margin-bottom: 8px;
  border: #b3b8bd solid 1px;
}

.my-paintings {
  border-radius: 4px;
  padding: 6px;
  color: rgba(207, 230, 243, 0.78);
  background-color: rgba(87, 86, 83, 0.92);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.text-dark{
  color:#343a40!important
}

a.text-dark:focus,a.text-dark:hover{
  color:#1d2124!important
}

.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130}.btn-danger.focus,.btn-danger:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-danger.disabled,.btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.show>.btn-danger.dropdown-toggle{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-danger.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}
/* END: search manufacturer styles */

.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn.focus,.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.btn.disabled,.btn:disabled{opacity:.65}.btn:not(:disabled):not(.disabled){cursor:pointer}

.list-group:first-child .list-group-item:first-child{border-top-left-radius:.25rem;border-top-right-radius:.25rem}.card>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}.card-title{margin-bottom:.75rem}.card-subtitle{margin-top:-.375rem;margin-bottom:0}.card-text:last-child{margin-bottom:0}.card-link:hover{text-decoration:none}.card-link+.card-link{margin-left:1.25rem}.card-header{padding:.75rem 1.25rem;margin-bottom:0;background-color:rgba(0,0,0,.03);border-bottom:1px solid rgba(0,0,0,.125)}.card-header:first-child{border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0}.card-header+.list-group .list-group-item:first-child{border-top:0}

.my-paintings-first-row {
  padding: 0.5em;
  color: whitesmoke;
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin-bottom: 0.2em;
  width: 100%;
  height: 60px;
  flex: 1 0 100%;
}
.buttons-info {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding-right: 1em;
  flex: 1 0 20%;
}

.btn-info{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-info:hover{color:#fff;background-color:#138496;border-color:#117a8b}.btn-info.focus,.btn-info:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-info.disabled,.btn-info:disabled{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle{color:#fff;background-color:#117a8b;border-color:#10707f}.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}

.btn-primary{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:hover{color:#fff;background-color:#0069d9;border-color:#0062cc}.btn-primary.focus,.btn-primary:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#007bff;border-color:#007bff}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#0062cc;border-color:#005cbf}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}

.second-info {
  padding: 0.6em 0.5em 0 0.5em;
  background-color: #d3d1d1;
  color: rgb(48, 49, 49);
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.most-rated {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

textarea {
  resize: none;
}

.info-row{
  background-color: #343a40;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: start;
  padding-left: 0.5em;
  gap: 55px;
}

